### Test using Google BigQuery to access M-Lab data in a Jupyter notebook

Created by John Burt, for allTBD group.

This notebook is a demo showing how to read a query file generated by Kinga's R based query script to access M-Lab data. 

#### Process followed to get this working:
- Have Anaconda installed
- Install pandas-gbq package (in command line: 'conda install pandas-gbq --channel conda-forge')
- Followed steps in the M-lab [BigQuery quickstart](https://www.measurementlab.net/data/docs/bq/quickstart/) to create a Google Cloud account and project, enable the BQ API, etc.


- Install R
- Install R kernel for Jupyter notebook: https://irkernel.github.io/installation/
- Run Kinga's query generator script, with example query included, generates "query.txt"
- Run this script

In [11]:
import pandas as pd
from pandas.io import gbq

# this is my project ID, you will probably use a different one
project_id = 'mlab-194421'

# query text file generated by Kinga's query writer script
queryfile = 'query.txt'

# read the query text file
with open(queryfile, 'r') as myfile:
#    querystring = '"' + myfile.read() + '"'
    querystring = myfile.read()

# read the query output into a pandas dataframe
#   NOTE: the first time this runs, you will be prompted for an authorization key. 
#    Click on the link provided, get the key string, paste it in, and go.
test_df = gbq.read_gbq(querystring, project_id=project_id)
    
# show contents    
test_df.head()

Requesting query... ok.
Job ID: acc77754-e1a9-4378-a541-60fb60ef100c
Query running...
Query done.
Processed: 0.0 B Billed: 0.0 B
Standard price: $0.00 USD

Retrieving results...
Got 195892 rows.

Total time taken 22.23 s.
Finished at 2018-02-13 16:45:35.

     log_time       remote_ip       local_ip  min_rtt
0  1405702488  71.224.167.141  38.106.70.173       22
1  1405689685   174.141.2.122  38.106.70.147       67
2  1405713563     72.43.239.3  38.106.70.160       39
3  1405673172  108.29.155.124  38.106.70.160       51
4  1405692108   96.246.143.43  38.106.70.147       29